[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gmwmx"]
	path = gmwmx
	url = https://github.com/cran/gmwmx
[submodule "idarps"]
	path = idarps
	url = https://github.com/cran/idarps
